# Secrets
.env
.env.*
!.env.example

# Operating-system files
.DS_Store
Thumbs.db

# Logs
*.log

__pycache__/
*.py[cod]

# Terraform state
*.tfstate
*.tfstate.*

# Terraform cache
.terraform/

# Crash logs
crash.log

# Variable files with secrets
*.auto.tfvars
*.auto.tfvars.json
terraform.tfvars
